/* grid system and initial configurations */

    * {
        font-family: 'Roboto sans-serif'
    }
    body,html {
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0;
        margin : 0;
        box-sizing: border-box;
        background-color: #dfdfdf;
        
    }
    #main_container {

        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: grid;

        min-width: 664px;
        min-height: 380px;

        grid-template-columns: 35% 1fr;
        grid-template-rows: 12.5% 10% 1fr;

        grid-template-areas: 
            'painel_user chat_area'
            'search chat_area'
            'people chat_area'
    }
    #painel_user {
        background-color: #eeeeee;
        grid-area: painel_user
    }#chat_area {
        grid-area: chat_area
    }#search {
        grid-area: search;
        background-color: transparent;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #people {
        grid-area: people;
        background-color: white;
    }

    @media(max-width: 400px) {
        #main_container {
            grid-template-areas: 
            'painel_user painel_user'
            'search search'
            'people people';

            min-width: 0px;
           
        }
        #chat_area {
            display: none;
        }
    }

    #painel_user,#chat_area,#search,#people {
        border:0px solid #f0f0ed;
    }
    /* ends here */ 

    /* inside items css */

    #search_container {

        width: 85%;
        height: 70%;

        border-radius: 18px;
        background-color: #fff;

        display: flex;
        align-items: center;
        justify-content: flex-start;

    }
    #search_icon {
        width: 6%;
        height: 60%;
        margin-left: 20px;
    }
    #search_input {
        margin-left: 30px;
        width: 50%;
        height: 70%;
        border:none;
        outline: none;
        font-size: 20px;
    }
    
    #painel_user {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #user_pic_container {
        height: 70px;
        width: 90px;

        display: flex;
        align-items: center;
        justify-content: center;

    }
    #user_pic {
        width: 50%;
        height: 65%;
        border-radius: 100%;
        cursor: pointer;
        
        
    }
    .mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab {
        outline: none;
         margin: 0;
         margin-right: 50px;
    }
    /* ends here */

    /* intro css */

    #intro_area {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        margin-top: 15px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #picarea{
        width: 100%;
        height: 49.16%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #initialpic {
        border-radius: 100%;
        width: 250px;
        height: 250px;
        
    }
    #textarea{
        width: 100%;
        height: 40.16%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    #fh2{
        margin: 0;
        margin-top: 28px;
        font-size: 37px;
        color: #4b5961;
        text-align: center;
        font-weight: normal;
        
    }

   #txtintro{
        width: 60%;
        margin-top: 28px;
        color: #929fa6;
        margin-top: 28px;
        height: 36.61%;
        line-height: 20px;
        font-size: 17px;
        margin-bottom: 28px;
        word-spacing: 5px;
        text-align: center;
       
       
    }
   

    /*ends here */

    /* float options css */
        .children_options {
            width: 100%;
            height: 20%;
            padding: 20px;
           
            cursor: pointer;
            color: #444444;
        }
        .children_options:last-child {
            margin-bottom: 20px;
        }
        .children_options:hover {
           
            color: lightblue;
            transition: 0.25s;
        }
        #float_parent {
            
            font-size: 0px;
            font-family: inherit;

            box-sizing: border-box;
            width: 0px;
            height: 0px;
           
            position: absolute;
            background-color: white;
            z-index: 100;
            border-radius: 3px;

            margin:0;
            padding: 0;
        
            -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);  

             
        }
    /* ends here */

    /* float user infos */
     
    #user_infos {
        z-index: 100;
        height: 100vh;
        min-height: 300px;
        position: absolute;
        flex-direction: column;
        display: none;

        overflow: auto;
    }
    #green_area {
        background-color:#00bfa5;
        width: 100%;
        height: 22.5%;

        display: flex;
        align-items: flex-end;
    }
    #row {
        width: 100%;
        height: 40px;        
        margin-bottom: 30px;
        display: flex;
        color: white;
        font-size: 2em;

        align-items: center;
    }
    #icback {
        width: 30px;
        height: 35px;
        margin-left: 30px;
        cursor: pointer;
    }
    #row > span {
        margin-left: 30px;
    }
    
    #pic_area {
        width: 100%;
        height: 50%;
        background-color: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #user_pic_zoom, #pic_area > span, #picChange{
        width: 42.64%;
        height: 65%;
        border-radius: 100%;
    }
    #pic_area > span{
        position: absolute;
        height: 33.5%;
        transition: .5s;
        cursor: pointer;
    }
    #pic_area > span:hover {
        opacity: .35;
        background-color: grey;
    }
    #picChange {
        height: 33.5%;
        position: absolute;
        visibility: hidden;
    }

    #name_area {
        width: 100%;
        height: 27.5%;
        color: #00bfa5;
        font-size: 1.35em; 
        background-color: white;
    }
    #name_area > div:nth-child(1), #name_area > div:nth-child(3){
        height: 60px;
    }
    #name_area > div:nth-child(2){
        height: 30px;
        display: flex;
    }
    #name_area > div:nth-child(1) > span,#name_area > div:nth-child(3) > span{
        margin-left: 40px;
        top: 10px;
        position: relative;
    }
    #name_area > div:nth-child(3) {
        margin-top: 12.5px;

        display: flex;
        flex-direction: column
    }
    #name_area > div:nth-child(2) > input {
        width: 70%;
        position: relative;
        margin-left: 40px;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid #eeeeee;
        cursor:unset;
    }
    #pencil {
        width: 25px;
        height: 25px;
        position: relative;
        justify-self: center;
        align-self:center;
        cursor: pointer;
        
    }
    #confirmChanges {
        width: 24px;
        height: 24px;
        justify-self: center;
        align-self:center;
        visibility: hidden;
        cursor: pointer;
    }
    #iduser {
        color: black;
        margin-top: 10px;
    }
    /* ends here */

    /* searched users css */

    #searched {
        height: calc(50% + 80px);
        width: 100%;
        background-color: white;
    }
    #spcontainer {
        width: 100%;
        height: 100%;
        
    }
    .pcontainer {
        width: 100%;
        height: 80px;
        
        border-bottom: 2px solid #f4f5f5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .user_pic_container {
        width: 80px;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-pic-min {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-left: 20px;
       
    }
    .searchedname{
        font-size: 19px;
        margin-left: 10px;
    }

    .adduser{
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-top: 5px;
        cursor: pointer;
    }
    /* ends here */
